#*.csv
#/test_data
#/train_data

lab2_env/
__pycache__/
.ipynb_checkpoints/

# Ignore build output directory
/build
/export

#datasets
TestData/

# Ignore object files and dependent files
.o
.d

#Ignore logs folder and log files
/logs
.log
.cache
.db

#Ignore lock files
.lock

.bin
.pdi
.vitisWorkspace.json

_ide/logs
_ide/.wsdata

hls
logs